@import url("../../global_styles/index.css");

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
}

.main-title_1 {
  margin: 0;
  font-family: "PoppinsRegular", "SpoqaHanSansNeoBold", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.main-title_2 {
  margin: 0;
  font-family: "PoppinsRegular", "SpoqaHanSansNeoBold", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 60px;
  color: white;
}

.main-desc {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 13px;
  color: white;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background: #3aebb6;
  margin-top: 30px;
  color: #425ce0;
  font-family: "PoppinsRegular", "SpoqaHanSansNeoBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.main-container a {
  text-decoration: none;
}

.main-btn:hover {
  background: white;
  transition: ease-in-out 0.5s;
}

.self-info-container {
  display: flex;
  flex-direction: column;
}

.self-title {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoBold", sans-serif;
  font-size: 1.17rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.self-desc {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

.self-ps {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.self-list-box {
  display: flex;
  justify-content: start;
}

.self-list-desc-box-1 {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.self-list-desc-box-2 {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.self-list-desc-box-3 {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.self-list-desc-1 {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #646f7c;
}

.self-list-desc-2 {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.self-list-desc-3 {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: -1.5rem;
  color: #646f7c;
}

.title-wrap {
  display: flex;
  width: auto;
  height: 40px;
  margin-bottom: 10px;
}

.portfolio-title {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1.75rem;
  line-height: 1.8;
  font-weight: 600;
}

.portfolio-sub-title {
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.8;
  color: #646f7c;
  margin-bottom: 1rem;
  font-weight: 400;
}

.desc-wrap {
  display: flex;
  width: 200px;
  height: 35px;
}

.portfolio-desc1 {
  width: 80px;
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #212529;
}

.portfolio-desc2 {
  width: 200px;
  font-family: "PoppinsRegular", "SpoqaHanSansNeoRegular", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #212529;
}
